<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.id.factory.bulk_id_strategy">org.hibernate.id.enhanced.SequenceStyleGenerator
        </property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/libreria</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <mapping resource="ModeloEstudiante.hbm.xml"/>
        <mapping resource="ModeloLibro.hbm.xml"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>