<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.jdbc.batch_size">50</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.id.factory.bulk_id_strategy">org.hibernate.id.enhanced.SequenceStyleGenerator
        </property>
        <property name="hibernate.connection.url">
            jdbc:sqlserver://DESKTOP-TFBPSRC\SQLEXPRESS01;databaseName=agiles;integratedSecurity=true;encrypt=true;        </property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <mapping class="models.ModeloUsuarios"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>